<div class="dashboard">
  
  <div class="exercise-title">
    <h1>EXERCISE</h1>
  </div>

  <div class="activities_ticker">
    <ul>
      <% @activities.each do |a| %>
        <li><%= a.current %> - <%= a.total %> - <%= link_to 'Delete', a, :method => :delete %></li>
      
      <% end %>
    </ul>
   <%= @total %> 
  </div>

  <%= link_to "Activity", :activity, class: 'add_activity' %>

</div>