<h1>DashBoard</h1>

<div class="activities_ticker">
  <ul>
    <% @activities.each do |a| %>
      <li><%= a.current %> - <%= a.total %> - <%= link_to 'Delete', a, :method => :delete %></li>
      
    <% end %>
  </ul>
 <%= @total %> 
</div>

<%= link_to "Activity", :activity %>