<!DOCTYPE html>
<html>
<head>
  <title>Nixie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="header clearfix">
      <div class="water-drop">
        <img src="assets/water_128x128.png" alt="WaterDrop">
      </div>
      <div class="title">
        <%= link_to image_tag("nixie.svg", :border => 0), {:action => 'index', :controller => 'pages'} %>
      </div>
      <div class="user_nav">
        <% if current_user %>
          <p>Welcome, <%= current_user.name %> | <%= link_to "About", about_path %> | <%= link_to "Profile", user_path %> | <%= link_to "Dashboard", dashboard_path %> | 
          <%= link_to "Log out", logout_path %></p>
        <% else %>
          <%= link_to "Sign up", signup_path %>
          <%= link_to "Log in", login_path %>
        <% end %>
      </div>
    </div>
    
    <div class="main">
       
       <div class="flash">
         <% flash.each do |name, msg| %>
           <%= content_tag :div, msg, :id => "flash_#{name}" %>
         <% end %>
       </div>
       
       <%= yield %>
      
    </div>
    <div class="footer">
      <div class="copyright">
        <h5>&copy Ryan Leichliter, 2014</h5>
      </div>
    </div>
  </div>
</body>
</html>
